.content__wrapper{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.form--custom{
  width:auto;
}

.checked {
  color: #ccc;
  text-decoration: line-through;
  font-style: italic;
}

.fa {
  margin: 0 5px;
  color: #bbb;
}

.fa:hover {
  color: rgb(49, 210, 242);
}

li>label[for='todo'] {
  width: 210px;
  margin-bottom: 0.5rem;
}

li > label[for="todo"]:hover {
  color: rgb(49, 210, 242);
}